[class*=draggable-] {
    height: 106px;

}
[class*=avatarContainer-] {
    height: 20px;
    margin-bottom:-10px;

}

[class*=avatarDefault-] {
    height: 100px;
    width: 100px;
    background-size: 100px 100px;
    border-radius: 10%;
}

[class*=avatarSpeaking-] {
    height: 100px;
    width: 100px;
    background-size: 100px 100px;
    border-radius: 10%;    
}


[class*=userDefault-] > *:nth-child(2) {
    transform: rotate(90deg);
    font-size: 10pt;
    position: absolute;
    top: 84px;
    left: 2px;
    padding-left: 20px;
    width:200px;
    height:30px;
    margin-right:-100px;
}

[class*=userHovered-] > *:nth-child(2) {
    transform: rotate(90deg);
    font-size: 10pt;
    position: absolute;
    top: 84px;
    left: 2px;
    padding-left: 20px;
    width:200px;
    height:30px;
    margin-right:-100px;
}
[class*=nameSpeaking-] {
    transform: rotate(90deg);
    font-size: 10pt;
    position: relative;
    top: 45px;
    left: -87px;
    padding-left: 40px;
    width:200px;
    margin-right:-100px;
}


[class*=userDefault-] > *:nth-child(3) > [class*=iconSpacing-]
{
    height: -10px;
    width: 20px;
    margin: 0px;
    left: 50px;
    top: 0px;
    position: relative;
}

[class*=userHovered-] > *:nth-child(3) > [class*=iconSpacing-]
{
    height: -10px;
    width: 20px;
    margin: 0px;
    left: 50px;
    top: 0px;
    position: relative;
}

[class*=userHovered-] > *:nth-child(3) > [class*=iconSpacing-]
{
    height: -10px;
    width: 20px;
    margin: 0px;
    left: 50px;
    top: 0px;
    position: relative;
}