.draggable-3SphXU {
    height: 106px;

}
.avatarContainer-303pFz {
    height: 20px;
    margin-bottom:-10px;

}
.avatarDefault-3jtQoc {
    height: 100px;
    width: 100px;
    background-size: 100px 100px;
    border-radius: 10%;
}

.avatarSpeaking-3teDH6 {
    height: 100px;
    width: 100px;
    background-size: 100px 100px;
    border-radius: 10%;    
}


.nameDefault-1I0lx8 {
    transform: rotate(90deg);
    font-size: 10pt;
    position: relative;
    top: 45px;
    left: -87px;
    padding-left: 40px;
    width:200px;
    margin-right:-100px;
}
.nameSpeaking-3ROx9q {
    transform: rotate(90deg);
    font-size: 10pt;
    position: relative;
    top: 45px;
    left: -87px;
    padding-left: 40px;
    width:200px;
    margin-right:-100px;
}

.nameHovered-28u_Fz {
    transform: rotate(90deg);
    font-size: 10pt;
    position: relative;
    top: 45px;
    left: -87px;
    padding-left: 40px;
    width:200px;
    margin-right:-100px;
}


.iconSpacing-1WJZFe
{
    height: 0px;
    width: 0px;
    margin: 0px;
    left: -15px;
    top: -5px;
    position: relative;
}

.icon-1NXYub
{

}

.icon-33Frxe
{
    padding-top: 20px;
    overflow: visible;
}