.guild-channels ul .channel-voice-states li .avatar-small {
    height: 100px;
    width: 100px;
    background-size: 100px 100px;
}


.guild-channels ul .channel-voice-states li span {
    transform: rotate(90deg);
    font-size: 1vmax;
    margin-left:-55px;
    position: relative;
    top: 0px;
    padding-left: 40px;
    margin-bottom: 37px
}


.guild-channels ul .channel-voice-states li .icon-muted
{
    width: 0px;
    overflow: visible;
    padding-left: 16px;
    margin-left: -16px;
    position: relative;
    top: -30px;
}

.guild-channels ul .channel-voice-states li .icon-deafened
{
    width: 0px;
    overflow: visible;
    position: relative;
    top: -10px;
    padding-left: 16px;
    margin-left: -16px;
}